@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;600&display=swap');

:root{

}

/* font face */
@font-face{
  font-family: 'Hahmlet', serif;
}

@font-face{
  font-family: 'Noto Sans KR', sans-serif;
}


p {
  padding: 0;
  margin: 0;
}