.container{
  width:85vw;
  height: 100%;
  margin: 0 auto;
    padding: 1rem;
}

.rootref{
  width:100%;
  height:40px;
  background-color: #ddd;
}

@media (min-width: 1440px){
  .container{
    width: 75vw;
  }
}

@media(min-width: 1024px){
  .container{
    width:80vw;
  }
}

@media(max-width:380px){
  .container{
    width:100%;
  }
}