.container{
  width:85vw;
  margin: 0 auto;
    padding: 1rem;
}

@media (min-width: 1440px){
  .container{
    width: 75vw;
  }
}

@media(min-width: 1024px){
  .container{
    width:80vw;
  }
}

@media(max-width:380px){
  .container{
    width:100%;
  }
}