.container {
  width: 100%;
  height: 100vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.contentscontainer {
  width: 100%;
  height: 70vh;
  
  border-bottom: 2px solid #ffffff;
  position: relative;
}

.contents {
  width: 100%;
  height: 100%;
  padding-top: 1.5rem ;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 90%);
  mask-image: linear-gradient(to top, black 90%, transparent 96%);
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent 90%); */
}

.contents::-webkit-scrollbar {
  width: 0;
}

.webcodingimage {
  margin-top: 5rem;
  position: relative;
}

.webcodingimage > img {
  width: 150px;
}

.webcodingimage > p {
  position: absolute;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 600;
  top: 12px;
  left: 26px;
}

