
.container {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: backdrop-filter 200ms ease-in-out, border-bottom 200ms ease-in-out;
}

/* .container:after{
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  border-bottom: solid 2px var(--subColor);
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
} */

.container.inview{
  border-bottom: 2px solid #ffffff;
    /* background-color: rgba(0,66,22, 1);
    mask-image: linear-gradient(to bottom, black 5%, rgba(0,0,0, 0.9) 40%, rgba(0,0,0, 0.7) 65% ,rgba(0,0,0, 0.5) 98%, black 99%) */
  backdrop-filter: blur(3px);
}


.navcontainer{
    margin: 2rem auto 0 auto;
  padding: 1rem 1rem 0 1rem;
  width: 85vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
}

.menuinview{
  border-color: transparent;
}




.link{
  margin: 0 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  cursor:pointer;
}

.greet {
  margin: 0;
  padding: 0;
}

.link:hover{
  color: var(--subColor);
}

.link.active{
  color: var(--subColor);
}

@media (min-width: 1440px) {
  .container {
    width: 100vw;
    margin: 3rem auto 0 auto;
  }
  .link{
    margin: 0 0.9rem;
    font-size: 1.3rem;
  }

}

.iconcontainer{
  display:flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .container {
    margin-top: 2rem;
  }
  .link {
    margin: 0 0.9rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .link {
    margin: 0 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0;
  }
  .navcontainer{
    width: 100%;
  }
  .menu {
    margin-right: 0.5rem;
  }
  .link{
    font-size: 0.9rem;
  }
}
