.container {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  opacity: 0.7;
    cursor:pointer;
}

.icon:hover{
  opacity:1;
}

@media(max-width:600px){
  .icon{
    width: 19px;
  }
}

@media(min-width: 1024px){
  .container{
    margin-right: 3rem;
  }
}
