.lists{
  width:95%;
  margin: 0 auto;
}

.list{
  margin: 4rem 0;
  padding: 1rem;
  display: flex;
  justify-content:space-around;
  align-items:center;
  /* background-color: rgba(0,0,0, 0.4); */
  border-radius:0.6rem;
  background-color: rgba(0,0,0, 0.4);

}

.image{
  margin: 1rem 0;
  width: 30%;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.image:hover{
  transform: scale(1.4);
}

.contents{
  width: 55%;
  padding-left: 1rem;
  color: #ffffff;
  font-family: var(--subFont);
}

.contents > .title{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contents>p{
  
  margin-bottom: 0.3rem;
  font-weight: 500;
}



.btn{
  margin: 1rem 0;
  padding: 0.4rem;
  border-radius: 1.5rem;
  border:2px solid var(--subColor);
  background-color: var(--subColor);
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
  line-height:1;
  cursor:pointer;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border:2px solid #ffffff;
}

@media(max-width:768px){
  .list{
    flex-direction: column;
  }
  .image{
    width:100%;
  }
  .image:hover{
    transform: scale(1);
  }
  .contents{
    width: 100%;
  }
  .contents > .title{
    font-size:1.2rem;
  }
}

@media(min-width:1440px){
  .list{
    justify-content: space-around;
  }
  
  .contents > p{
    font-size: 1.1rem;
  }
.contents > .title{
    font-size: 1.4rem;
  }

}