.lists{
  width:90%;
  margin: 0 auto;
}

.list{
  margin: 2rem 0;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.image{
  width: 150px;
  height: 150px;
  transition: transform 200ms ease-in-out;
}

.image:hover{
  transform: scale(1.5);
}